@model List<GetAllProductDetailsDTOS>

@{
    ViewData["Title"] = "Products";
}
@section Navbar {

    <partial name="_NavbarPartial" />
}
@section Sidebar {

    <partial name="_SidebarPartial" />
}
@section Footer {

    <partial name="_FooterPartial" />
}

@if (TempData["IsSuccess"] is bool Success)
{
    @if (Success)
    {
        @section Scripts {
            <script>
                showMsgSuccessToast(@Html.Raw(Json.Serialize(TempData["Msg"])));
            </script>
        }
    }
    else
    {
        @section Scripts {
            <script>
                showMsgDangerToast(@Html.Raw(Json.Serialize(TempData["Msg"])));
            </script>
        }
    }
}

<h1>AllProduct Details</h1>

<div class="row ">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                @* <h4 class="card-title">AllProduct Details</h4> *@
                <p class="card-description">
                    <a class="btn btn-primary" asp-controller="ProductDetail" asp-route-id="@ViewBag.ProductId" asp-action="Create"><i class="fas fa-plus"></i> New</a>
                </p>
                <div class="table-responsive">
                    <table class="table table-striped">
                        @*  table-hover *@
                        <thead>
                            <tr>
                                <th>
                                    <div class="form-check form-check-muted m-0">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input">
                                        </label>
                                    </div>
                                </th>
                                <th> ProductNumber </th>
                                <th> NameEn </th>
                                <th> TitleEn </th>
                                <th> TitleAr </th>
                                <th> DescriptionEn </th>
                                <th> DescriptionAr </th>
                                <th> Image </th>
                                <th> Actions </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (GetAllProductDetailsDTOS prd in Model)
                            {
                                <tr>
                                    <td>
                                        <div class="form-check form-check-muted m-0">
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input">
                                            </label>
                                        </div>
                                    </td>
                                    <td> @prd.ProductNo </td>
                                    <td> @prd.NameEn </td>
                                    <td> @prd.TitleEn </td>
                                    <td> @prd.TitleAr </td>
                                    <td> @prd.DescriptionEn </td>
                                    <td> @prd.DescriptionAr </td>
                                    <td>
                                        <img src="@prd.ImagePath" alt="Product Image" style="width: 90px; height: 90px; border-radius: 20px;" />
                                    </td>
                                    <td>
                                        <a type="submit" asp-action="Update" asp-controller="ProductDetail" asp-route-id="@prd.Id" class="btn btn-outline-secondary"><i class="fas fa-edit"></i></a>
                                        @* <a type="button" asp-action="DeleteProductDetails" asp-controller="ProductDetail" asp-route-id="@prd.Id" asp-route-ProductId="@ViewBag.ProductId" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></a> *@
                                        <button type="button" class="btn btn-outline-danger" onclick="openModal('Detail', '/ProductDetail/DeleteProductDetails/@prd.Id?ProductId=@ViewBag.ProductId')"><i class="fas fa-trash-alt"></i></button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>