@using AllBirds.DTOs.ProductDetailDTOs
@model AllBirds.DTOs.Shared.ResultView<UpdateProductDetail>
@{
    ViewData["Title"] = "UpdateProductDetails";
}
<!-- Plugin css for this page -->
<link rel="stylesheet" href="~/assets/vendors/select2/select2.min.css">
<link rel="stylesheet" href="~/assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
<!-- End plugin css for this page -->
@section Navbar {

    <partial name="_NavbarPartial" />
}
@section Sidebar {

    <partial name="_SidebarPartial" />
}
@section Footer {

    <partial name="_FooterPartial" />
}
<h1> Update Product Details</h1>

<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                @* <h4 class="card-title">CreateProduct</h4> *@
                <form class="form-sample" enctype="multipart/form-data" method="post" asp-action="Update">
                    <p class="card-description"> Main Info </p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                            <label class="col-sm-3 col-form-label" asp-for="Data.TitleEn"></label>
                                <div class="col-sm-9">
                                <input class="form-control" asp-for="Data.TitleEn" />
                                <span class="text-danger" asp-validation-for="Data.TitleEn"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                            <label class="col-sm-3 col-form-label" asp-for="Data.TitleAr"></label>
                                <div class="col-sm-9">
                                <input class="form-control" asp-for="Data.TitleAr" />
                                <span class="text-danger" asp-validation-for="Data.TitleAr"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" asp-for="Data.DescriptionEn"></label>
                            <div class="col-sm-9">
                                    <div class="input-group">
                                    <input class="form-control" asp-for="Data.DescriptionEn" />
                                        </div>
                                <span class="text-danger" asp-validation-for="Data.DescriptionEn"></span>
                                        </div>
                                    </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" asp-for="Data.DescriptionAr"></label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <input class="form-control" asp-for="Data.DescriptionAr" />
                                </div>
                                <span class="text-danger" asp-validation-for="Data.DescriptionAr"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" asp-for="Data.ImageData"></label>
                                <div class="col-sm-9">
                                    <input class="form-control" asp-for="Data.ImageData" />
                                    <span class="text-danger" asp-validation-for="Data.ImageData"></span>
                                </div>
                                </div>
                            </div>
                        </div>

                    <input type="hidden" asp-for="Data.ProductId" />
                    <input type="hidden" asp-for="Data.ImagePath" />
                    <input type="hidden" asp-for="Data.Id" />

                    <button type="submit" class="btn btn-primary mr-2">Update</button>
                    <a asp-controller="ProductDetail" asp-action="AllProductDetails" asp-route-id="@Model.Data.ProductId" class="btn btn-dark">Cancel</a>
                </form>
               @*  @if (Model.IsSuccess)
                {
                    <h4 class="text-success mg-5" style="text-align:center">
                        @Model.Msg
                    </h4>
                }
                else
                {
                    <h4 class="text-danger mg-5" style="text-align:center" >
                        @Model.Msg
                    </h4>
                } *@

            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/assets/vendors/select2/select2.min.js"></script>
    <script src="~/assets/js/file-upload.js"></script>
    <script src="~/assets/js/select2.js"></script>
    @if (TempData["IsSuccess"] is bool Success)
    {
        @if (Success)
        {
            <script>
                showMsgSuccessToast(@Html.Raw(Json.Serialize(TempData["Msg"])));
            </script>
        }
        else
        {
            <script>
                showMsgDangerToast(@Html.Raw(Json.Serialize(TempData["Msg"])));
            </script>
        }
    }
} 