@model GetAllOrderDetailsDTO;

<div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Product Image</th>
                            <th>Product</th>
                            <th>Color</th>
                            <th>Size</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                       
                            
                            <td>
                                <img class="img-xs rounded" src="@Model.ProductColorSizeImage.MainImage" alt="image">
                            </td>
                            <td> @Model.ProductColorSizeImage.ProductNameEN</td>
                            <td>@Model.ProductColorSizeImage.ColorNameEN</td>
                            <td>@Model.ProductColorSizeImage.Size</td>
                            <td>@Model.Quantity</td>
                            <td>@Model.DetailPrice</td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>