@model CreateProductColorDTO;
@{
    ViewData["Title"] = "Create Product Color";
    SelectList colorList = new(ViewBag.Colors, "Id", "NameEn", Model?.ColorId);

}


@section Navbar {

    <partial name="_NavbarPartial" />
}
@section Sidebar {

    <partial name="_SidebarPartial" />
}
@section Footer {

    <partial name="_FooterPartial" />
}

<div class="row">

    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create Product Color</h4>

                <div class="col-md-1  d-flex p-2  justify-content-start" style="margin-left:-20px;">
                    <button onclick="AddInput()" class="btn  btn-outline-primary">
                        <i class="mdi mdi-plus"></i>
                    </button>
                </div>

                <form asp-action="CreateProductColor" asp-controller="Product" enctype="multipart/form-data">
                    <input hidden asp-for="@Model.ProductId" value="@ViewBag.ProductId" />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <select class="form-control text-light" asp-for="ColorId" asp-items="colorList">
                                </select>
                            </div>
                            <span class="text-danger" asp-validation-for="ColorId"></span>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-12">
                            <div class="form-group row addInput">

                                <label class="col-sm-3 col-form-label" style="font-weight:bold; font-size:large;" asp-for="@Model.Images"></label>

                                <div class="form-group row" style="display: flex; align-items: center;">
                                    <div class="col-sm-12 d-flex align-items-center" style="color:coral;">
                                        <input class="form-control text-danger" type="file" asp-for="@Model.Images" />
                                        <span class="text-danger" asp-validation-for="@Model.Images"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <a class="btn btn-primary mr-2" asp-controller="Product" asp-action="GetAllProductColors" asp-route-id="@ViewBag.ProductId">Cancel</a>
                </form>

            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/assets/js/file-upload.js"></script>
    @if (TempData["IsSuccess"] is bool Success)
    {
        @if (Success)
        {
            <script>
                showMsgSuccessToast(@Html.Raw(Json.Serialize(TempData["Msg"])));
            </script>
        }
        else
        {
            <script>
                showMsgDangerToast(@Html.Raw(Json.Serialize(TempData["Msg"])));
            </script>
        }
    }
    <script>
        function AddInput() {
            let addInput = document.getElementsByClassName("addInput")[0];

            let newInputDiv = document.createElement("div");
            newInputDiv.className = "col-sm-12 d-flex align-items-center";
            newInputDiv.style.color = "coral";
            newInputDiv.style.marginTop = "10px";

            let newInput = document.createElement("input");
            newInput.className = "form-control text-danger";
            newInput.type = "file";
            newInput.name = "Images";

            let RemoveInput = document.createElement("div");
            RemoveInput.className = "col-md-1 mg-2 d-flex p-2 justify-content-end";
            RemoveInput.style.marginLeft = "25px";

            let button = document.createElement("button");
            button.className = "btn btn-outline-danger";
            button.onclick = function () {
                addInput.removeChild(newInputDiv);
            };

            let icon = document.createElement("i");
            icon.className = "mdi mdi-close";
            button.appendChild(icon);

            RemoveInput.appendChild(button);

            newInputDiv.appendChild(newInput);
            newInputDiv.appendChild(RemoveInput);

            addInput.appendChild(newInputDiv);
        }






    </script>

}