@using AllBirds.DTOs.ProductColorDTOs;
@model List<GetALlProductColorDTO>;
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive ">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>product Number </th>
                            <th>product name </th>
                            <th>Color Name </th>
                            <th>Color </th>
                            <th>Action</th>


                        </tr>
                    </thead>
                    <tbody>

                        @foreach (GetALlProductColorDTO item in Model)
                        {
                            
                        <tr>
                            <td>
                                <img class="img-xs rounded " src="@item.MainImagePath" alt="">
                            </td>
                            <td>@item.ProductNo</td>
                           
                            <td>@item.PNameEn</td>
                            <td>@item.ColorNameEn</td>
                            <td><label class="badge  rounded text-light" style="background-color: @item.ColorCode; width: 35px;height: 35px; border-radius: 50%;">   </label></td>


                          @*    <td>
                                 <button class="btn btn-inverse-success for inverse buttons p-2  m-1">Edit</button>
                                 <button class="btn btn-inverse-danger  for inverse buttons p-2  m-1">Delete</button>

                             </td> *@
                        </tr>

                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
