@model List<GetAllAdminsDTO>
@{
    ViewData["Title"] = "GetAllAdmins";

    ViewBag.Name = "testname";
    int currentPage = ViewBag.CurrentPage ?? 1;
    int pageSize = ViewBag.PageSize ?? 10;
    int totalItems = ViewBag.TotalItems ?? 0;
    int totalPages = (int)Math.Ceiling((double)totalItems / pageSize);
}
@section Navbar {

    <partial name="_NavbarPartial" />
}
@section Sidebar {

    <partial name="_SidebarPartial" />
}
@section Footer {

    <partial name="_FooterPartial" />
}
@if (TempData["IsSuccess"] is bool Success)
{
    @if (Success)
    {
        @* <div id="msgDiv" class="alert alert-success text-dark" role="alert">
            <span>@TempData["Msg"]</span> <button onclick="closeMsg(event)" class="btn btn-outline-danger"><i class="mdi mdi-close"></i></button>
        </div> *@
        @section Scripts {
            <script>
                // showMsgDangerToast('fsdfasdf');
                showMsgSuccessToast(@Html.Raw(Json.Serialize(TempData["Msg"])));
            </script>
        }
    }
    else
    {
        @* <div id="msgDiv" class="alert alert-danger text-dark" role="alert">
            <span>@TempData["Msg"]</span> <button onclick="closeMsg(event)" class="btn btn-outline-danger"><i class="mdi mdi-close"></i></button>
        </div> *@
        @section Scripts {
            <script>
                // showMsgDangerToast('fsdfasdf');
                showMsgDangerToast(@Html.Raw(Json.Serialize(TempData["Msg"])));
            </script>
        }
    }
}
@* <h1 class="text-capitalize">All @Context.Request.Query["role"]s</h1> *@

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">All @Context.Request.Query["role"]s</h3>
                @if (Context.Request.Query["role"] == "admin")
                {
                    <p class="card-description">
                        <a class="btn btn-primary" asp-controller="Account" asp-action="AddModerator"><i class="fas fa-plus"></i> New Admin</a>
                    </p>    
                }
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                @* <th> User </th> *@
                                <th> First name </th>
                                <th> Last name </th>
                                <th> Username </th>
                                <th> Email </th>
                                <th> Email Confirmed </th>
                                <th> PhoneNumber </th>
                                <th> PhoneNumber Confirmed </th>
                                @if (Context.Request.Query["role"] == "admin")
                                {
                                    <th> Actions </th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @if(Model is not null && Model.Count > 0)
                            {
                                @foreach(GetAllAdminsDTO adminDTO in Model)
                                {
                                    <tr>
                                        @* <td class="py-1">
                                            <img src="@adminDTO.ImagePath" alt="image" />
                                        </td> *@
                                        <td> @adminDTO.FirstName </td>
                                        <td> @adminDTO.LastName </td>
                                        <td> @adminDTO.UserName </td>
                                        <td> @adminDTO.Email </td>
                                        @{
                                            if (adminDTO.EmailConfirmed)
                                            {
                                                <td> <label class="badge badge-success">Confirmed</label> </td>
                                            }
                                            else
                                            {
                                                <td> <lablel class="badge badge-danger">Unconfirmed</lablel> </td>
                                            }
                                        }
                                        <td> @adminDTO.PhoneNumber </td>
                                        @{
                                            if (adminDTO.PhoneNumberConfirmed)
                                            {
                                                <td> <label class="badge badge-success">Confirmed</label> </td>
                                            }
                                            else
                                            {
                                                <td> <lablel class="badge badge-danger">Unconfirmed</lablel> </td>
                                            }
                                        }
                                        @if (Context.Request.Query["role"] == "admin")
                                        {
                                            <td>
                                                @* <a type="button" asp-action="Details" asp-controller="Account" asp-route-id="@adminDTO.Id" class="btn btn-outline-primary"><i class="fas fa-eye"></i></a> *@
                                                @* <a type="button" asp-action="Update" asp-controller="Account" asp-route-id="@adminDTO.Id" class="btn btn-outline-secondary"><i class="fas fa-edit"></i></a> *@
                                                @* <a type="button" asp-action="DeleteAdmin" asp-controller="Account" asp-route-id="@adminDTO.Id" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></a> *@
                                                <button type="button" class="btn btn-outline-danger" onclick="openModal('Admin', '/Account/DeleteAdmin/@adminDTO.Id')"><i class="fas fa-trash-alt"></i></button>
                                            </td>
                                        }
                                    </tr>                                    
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="9"> No Admins Were Found</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Pagination -->
            <nav>
                <ul class="pagination d-flex justify-content-center rounded-separated pagination-primary">
                    <li class="page-item @(currentPage == 1 ? "disabled" : "")">
                        <a class="page-link" asp-action="GetAll" asp-route-pageNumber="@(currentPage - 1)" asp-route-pageSize="@pageSize"><i class="mdi mdi-chevron-left"></i></a>
                    </li>
                    @for (int i = 1; i <= totalPages; i++)
                    {
                        <li class="page-item @(i == currentPage ? "active" : "")">
                            @if (i == currentPage)
                            {
                                <a class="page-link">@i</a>
                            }
                            else
                            {
                                <a class="page-link" asp-action="GetAll" asp-route-pageNumber="@i" asp-route-pageSize="@pageSize">@i</a>
                            }
                        </li>
                    }
                    <li class="page-item @(currentPage == totalPages ? "disabled" : "")">
                        <a class="page-link" asp-action="GetAll" asp-route-pageNumber="@(currentPage + 1)" asp-route-pageSize="@pageSize"><i class="mdi mdi-chevron-right"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>